<a href="https://colab.research.google.com/github/Tgoutam/skills-introduction-to-github/blob/main/SQLite_DB_Use.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Create a DataFrame with 3 records
data = {
    'id': [1, 2, 3],
    'name': ['ZZZZ', 'RRRR', 'XXXX'],
    'age': [45,78,39]
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)

DataFrame:
   id  name  age
0   1  ZZZZ   45
1   2  RRRR   78
2   3  XXXX   39

In [3]:
import sqlite3

# Create a connection to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('example2.db')

# Create a cursor object
cur = conn.cursor()

# Create table ZZZ if it doesn't exist
cur.execute('''
CREATE TABLE IF NOT EXISTS ZZZ (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
''')

# Insert DataFrame records into the SQLite table
for row in df.itertuples(index=False):
    cur.execute('''
    INSERT INTO ZZZ (id, name, age)
    VALUES (?, ?, ?)
    ''', (row.id, row.name, row.age))

# Commit the transaction
conn.commit()

In [4]:
# Fetch all records from the table
cur.execute('SELECT * FROM ZZZ')
rows = cur.fetchall()

# Print the fetched records
print("Records from table ZZZ:")
for row in rows:
    print(row)

# Close the connection
conn.close()

Records from table ZZZ:
(1, 'ZZZZ', 45)
(2, 'RRRR', 78)
(3, 'XXXX', 39)